[package]
name = "fastpfor"
version = "0.1.0"
edition = "2021"
rust-version = "1.78.0"

[dependencies]
thiserror = "1.0.64"

[lints.rust]
unused_assignments = "allow"
dead_code = "allow"

[lints.clippy]
identity_op = "allow"
unnecessary_cast = "allow"
ptr_arg = "allow"
needless_range_loop="allow"
